# --- Python cache ---
__pycache__/
*.pyc

# --- Streamlit cache ---
.streamlit/

# --- Models ---
*.pkl
models/
*.joblib

# --- Notebooks checkpoints ---
.ipynb_checkpoints/

# --- System ---
.DS_Store
Thumbs.db

# --- Virtual env ---
venv/
env/
